*{
  box-sizing: border-box;
  margin: 0;
}
body{
  color: #3b434c;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
li{
  list-style: none;
}
$orange:#f7600e;
$white:#fff;
%df_center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
%df_sw{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inner{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
h3{
  margin-bottom: 25px;
  font-size: 35px;
  text-align: center;

  span{
    color: $orange;
  }
}
.header{
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 2;
  .inner{
    display: flex;
    justify-content: space-between;
  }
}
.logo{
  padding-left: 46px;
}
.nav{
  padding-right: 17px; 
}

.slider{
  @extend %df_center;
  align-items: center;
  width: 100%;
  height: 800px;
  position: relative;
  background: url(../images/main01.png) 0 center no-repeat;
  text-align: center;
  .slider_content{
    color: $white;
    .slider_title{
      margin-bottom: 35px;
      font-size: 70px;
      span{
        color: $orange;
      }
    }
    .slider_txt{
      font-size: 25px;
      margin-bottom: 63px;
    }
    .box_slider_button{
      @extend %df_center
    }
    .sl_bt{
      a{
        color: $white;
      }
    }
    .sl_bt01{
      margin-right: 27px;
    }

    

  }
  .slider_button_scroll{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
  }
}
.index_button{
  a{
    display: block;
    width: 210px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #3b434c;
    text-align:center;
    text-decoration: none;
    &:hover{
      border-color: $orange;
      background-color: $orange;
      font-size: 16px;
    }
  }
  
}
.services{
  @extend %df_sw;
  padding: 100px 0;
  .sr_box{
    @extend %df_center;
    align-items: center;
    text-align: center;
    width: 260px;
    .sr_icon{
      @extend %df_center;
      align-items: center;
      width: 150px;
      height: 150px;
      margin-bottom: 25px;
      border-radius: 50%;
      border: 1px solid rgba(59, 67, 76, 0.3);
    }
  }
}
.box_email{
  @extend %df_center;
  align-items: center;
  background: url(../images/idx_bg_email.png) 0 center no-repeat;
  padding: 100px 0;
  .email_conteent{
    display: flex;
    .your_email{
      input{
        width: 562px;
        margin-right: 30px;
        border-radius: 10px;
        padding: 15px 20px;
        border: none;
      }
    }
    .button_email{
      a{
        display: block;
        width: 270px;
        border-radius: 10px;
        background-color: $orange;
        padding: 15px;
        color: $white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
.our_txt{
  font-size: 16px;
  text-align: center;
  &.last{
    margin-bottom: 100px;
  }
}
.our_works{
  padding: 100px 0;
  .portfolio{
    @extend %df_sw;
  }
  .portfolio_content{
    position: relative;
    border-radius: 10px;
    width: 360px;
    height: 360px;
    margin-bottom: 30px;
    overflow: hidden;
    .portfolio_txt{
      @extend %df_center;
      align-items: center;
      padding: 30px;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(247, 96, 14, 0.9);
      transition: all 1s ease;
      color: $white;
      
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
    .protfolio_ttl{
      margin-bottom: 25px;
      font-size: 25px;
    }
    .protfolio_button{
      a{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
          background-color: $white;
          border-color: $white;
          color: $orange;
        }
      }
    }
    

  }

  .portfolio_btlast{
    a{
      margin: 70px auto 0;
      border-color: rgba(59, 67, 76, 0.2);
    }
    
  }

}

.clients{
  background: url(../images/idx_bg_arrows.jpg) 0 center no-repeat;
  padding: 100px 0;
  .clients_say{
    color: $white;
    text-align: center;
    li{
      @extend %df_center;
      flex-direction: column;
      align-items: center;
    }
  }
  .img_say{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  .box_txt_say{
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 1.6;
  }
  .name_say{
    font-size: 18px;
  }
}
.our_team{
  padding: 100px 0;
}